<div class="container">
    <h1 class="mb-3">Add Item</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addItem()">
                <div class="mb-3">
                    <label for="name" class="form-label">Item:</label>
                    <input type="text" class="form-control" id="Item" [(ngModel)] = 
                    "addItemRequest.item">
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="Quantity" [(ngModel)] = "addItemRequest.quantity">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>

</div>