<div class="container my-5">
    <h1>Shopping List</h1>
    <table class="table table-striped" *ngIf="shoppinglist && shoppinglist.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of shoppinglist">
                <td>{{ item.id }}</td>
                <td>{{ item.item }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!shoppinglist || shoppinglist.length <= 0">No items in the shopping list</p>
</div>
